
.container__quizz-card{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  }
  
  .quizz-card__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quizz-card__title > h1  {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
  }
  
  .quizz-card__description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .quizz-card__description > p  {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .quizz-card__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .quizz-card__photo > img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  
  .quizz-card__link :hover {
    background: linear-gradient(90deg, #ce0569 12.66%, #ff5800 94.55%);
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
  }