<div class="container__big-card">

  <div class="big-card__photo">
        <img
        [routerLink]="['content', Id]"
          src="{{ photoCover }}"
          alt=""
          height="200px"
          srcset=""
        >
  </div>
  <a [routerLink]="['/content', Id]" class="big-card__link">
    <div class="big-card__content">
      <div class="big-card__title">
        <h1>{{ cardTitle }}</h1>
      </div>
      <div class="big-card__description">
        <p>{{ cardDescription }}</p>
      </div>
    </div>
  </a>
</div>
