.container__small-card{
  margin-bottom: 15px;
  width: 95%
}

.container__small-card-content{
  display: flex;
  flex-direction: row;
  padding: 6px;
  box-sizing: border-box;
}

.small-card__photo > img {
  object-fit: cover;
  border-radius: 10px;
  width: 200px;
  min-width: 200px;
  width: 100%;
  height: auto;
  max-height: 180px;
  margin-right: 20px;
  cursor: pointer; /* permite clicar como se fosse um link */
  transition: transform 0.2s ease;

}

h1 {
  margin-left: 20px;
}

.small-card__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-card__title > h1 {
  font-size: 16px;
}

.container__small-card__separator{
  margin-top: 10px;
}

.small-card__title :hover {
  background: linear-gradient(90deg, #ce0569 12.66%, #ff5800 94.55%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: hsla(0, 0%, 100%, 0);
}

