<div id="container__menu-bar" class="container__menu-bar">
    <div class="container__logo"> 
        <p>Blogado</p>
    </div>
  
  <div class="container__menu-links">
      <ul>
          <li><a href="https://linkedin.com/in/domleondev">Linkedin</a></li>
          <li><a href="https://github.com/domleondev">Github</a></li>
          <li><a href="https://www.dio.me/users/contato_leon">Profile DIO</a></li>
      </ul>
  </div>
  <nav class="menu">
    <input type="checkbox" id="toggle" class="toggle">
    <label for="toggle" class="hamburger">&#9776;</label>

    <ul class="menu-items">
      <li><a href="https://linkedin.com/in/domleondev">Linkedin</a></li>
      <li><a href="https://github.com/domleondev">Github</a></li>
      <li><a href="https://www.dio.me/users/contato_leon">Profile DIO</a></li>
      <li><label for="toggle" class="close">✕</label></li>
    </ul>
  </nav>

  
</div>
